body {
    margin: 0;
    background: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

/* منطقة الخريطة */
#board {
    display:block;
    margin:auto;
    background:black;
}

/* أزرار التحكم */
#controls{
    position:fixed;
    bottom:10px;
    left:10px;
    width:150px;

    display:flex;
    flex-direction:column;
    align-items:center;
    gap:5px;
}

/* أزرار أصغر */
#controls button {
    width: 45px;
    height: 45px;
    font-size: 18px;
}

/* رسالة الدوران */
#rotateMessage {
    position: fixed;
    inset: 0;
    background: black;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    z-index: 9999;
}