body{
    margin:0;
    background:black;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    align-items:center;
}

#board{
    display:block;
    background:black;
}

#controls{
    height:120px;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:#111;
}

#controls button{
    width:50px;
    height:50px;
    font-size:20px;
}

#rotateMessage{
    position:fixed;
    inset:0;
    background:black;
    color:white;
    display:none;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-size:24px;
    z-index:9999;
}